$corUm: #333;
$corDois: #545;
$corTres: #ff6347;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

header {
    background-color: $corUm; 
    color: white;
    padding: 20px 0; 
}

.header {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Anton, serif;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    font-size: 1.2rem;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    transition: color 0.5s ease; 
}

nav ul li:hover {
    color: $corTres;
}

img {
    width: 80%;
    margin: 60px 90px;
}

.historia h2 {
    padding: 20px;
    padding-left: 80px;
    font-family: Anton, serif;
}

.historia p {
    padding: 20px;
    padding-left: 80px;
    font-family: Poppins, sans-serif;
}

.tabs {
    display: flex;
    border-bottom: 2px solid #ccc;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-bottom: none;
    margin-right: 5px;
    background-color: #f1f1f1;
}

.tab:hover {
    background-color: #ddd;
}

    .active-tab {
    background-color: #ddd;
    font-weight: bold;
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 10px;
    background-color: #f9f9f9;
}

.active-content {
    display: block;
}

footer {
    background-color: $corUm; 
    color: #fff; 
    text-align: center; 
    padding: 20px 0; 
    font-family: Arial, sans-serif; 
    font-size: 14px;
    position: relative; 
    bottom: 0;
    width: 100%; 
}




