$corUm: #333;
$corDois: #545;
$corTres: #ff6347;
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

header {
    background-color: $corUm; 
    color: white;
    padding: 20px 0; 
}

.header {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Anton, serif;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    font-size: 1.2rem;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    transition: color 0.5s ease; 
}

nav ul li:hover {
    color: $corTres;
}

img {
    width: 80%;
    margin: 60px 90px;
}

h2 {
    padding: 0 auto;
    font-family: Anton, serif;
}

p {
    font-family: Poppins, sans-serif;
}

.shows {
    padding: 2vw 5.6vw;

    &__list {
        margin-top: 44px;
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        &--is-active {
            display: grid;
        }

        &__item {
            img {
                max-width: 100%;
                border-radius: 4px;
            }
        }
    }

    &__tabs {
        display: flex;
        justify-content: center;
        
        &__button {
            font-size: 20px;
            border: none;
            padding-bottom: 5px;
            background: none;
            text-transform: uppercase;
            margin: 0 1vw;
            cursor: pointer;
            border-bottom: 5px solid transparent;

            &--is-active {
                border-bottom: 5px solid blue !important;
            }
        }
    }
}

.listaH {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.listaH img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}
.listaH h3 {
    font-size: 20px;
    color: $corUm;
    display: block;
}

.listaH p {
    font-size: 14px;
    color: #666;
}

.listaH button {
    background-color: $corTres;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.listaH:hover {
    transform: translateY(-5px);
}


footer {
    background-color: $corUm; 
    color: #fff; 
    text-align: center; 
    padding: 20px 0; 
    font-family: Arial, sans-serif; 
    font-size: 14px;
    position: relative; 
    bottom: 0;
    width: 100%; 
}




